h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: large;
}

h2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    

}

h3{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    

}

p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: large;
}

body {
    margin: 10%;
    margin-top: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
    cursor: url("/static/images/earthword.png"), auto;

}

i{
    color: white;
}
nav{
    background-color:#020d38;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}
.nav-link{
    font-size: large;
}
.navbar-brand{
    font-size: xx-large;
}

.navbar-nav{
    float: right;
}

footer{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color : white;
   background-color:#020d38; 
}


header{
   height: 100%;
   width: 100%;
   background-image: url("https://images.theconversation.com/files/286380/original/file-20190731-186797-1gtaziy.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=754&fit=clip");
   background-size: contain;
   background-repeat: no-repeat;
   background-size: 100%;
   text-align: center
   }
header p{
  letter-spacing: 3px;
  text-align: center;
}
.headertext {
    color : white
}

/* img {
  margin: 5px;
  display: inline-flex;
  height: 350px;
  width: 350px;
  text-align : middle;
} */
/* img{
   width: 250px;
   height: 250px;
   object-fit: cover;
   margin-bottom: 50px;
} */
.row {
    padding: 13px;
}
img{
    height: 300px;
}

.countryFlag{
    padding-right: 50%;
}
